.advantages {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    outline-offset: -2px;
    outline: 2px solid rgba(192, 45, 131, 0.7);
  }
}

.advantages__list {
  display: flex;
  column-gap: 10px;
}

.advantages__item {
  padding-bottom: 20px;

  & h3 {
    color: $special_black;
    font-family: $playfair_display;
    font-style: italic;
  }

  & p {
    padding-left: 20px;
    padding-top: 10px;
  }
}
