.button {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  padding: 12px 0;
  text-align: center;
  width: 120px;
  color: $basic_red-gray;
  border: 1px solid $border;
  border-radius: 6px;
  box-shadow: 0px 8px 34px rgba($shadow, 0.32);
  cursor: pointer;
  transition: 0.5s linear;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 18px 0;
    width: 185px;
  }

  &:focus,
  &:hover {
    box-shadow: 0px 8px 34px rgba($border, 0.32);
    color: $basic_white;
    background-color: $basic_red-gray;
    border: 1px solid $basic_red-gray;
    transition: 0.5s linear;
  }

  &:active {
    opacity: 0.6;
    transition: 0.2s linear;
  }
}
