.catalog-two {
  @media (min-width: $desktop-width) {
    max-width: 1171px;
  }
}

.catalog-two__img {
  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 591px;
  }
}

.catalog-two__text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.catalog-two__title {
  padding-bottom: 33px;

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}
