.page-footer {
  background-color: #23242c;
  color: $basic_white;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 40% 60%;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    outline-offset: -2px;
    outline: 2px solid rgba(192, 45, 131, 0.7);
  }
}

.page-footer__slogan {
  display: flex;
  flex-direction: column;

  & img {
    height: 24px;
  }
}

.page-footer__tagline {
  margin-bottom: auto;
  padding-top: 32px;
}

.page-footer__wrapper {
  @media (max-width: $only-mobile-width) {
    justify-self: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-evenly;
  }
}

.page-footer__copyright {
  font-size: 10px;
  opacity: 0.5;
  line-height: 14px;
}

.page-footer__shop {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__list {
  & li {
    font-size: 11px;
    padding-bottom: 3px;
  }
}
