.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;

  @media (min-width: $desktop-width) {
    outline-offset: -2px;
    outline: 2px solid rgba(72, 143, 184, 0.7);
  }
}

.page-header__logo {
  margin: 0 auto;

  & img {
    vertical-align: middle;
  }
}
