.page {
  height: 100%;
  font-family: $poppins;
  font-size: 14px;
  line-height: 22px;
  color: $basic_red-gray;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
}
