.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    position: relative;
  }

  &::before,
  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background-color: $basic_black;
      box-shadow: 0 6px 0 0 $basic_black;
      border-radius: 50%;
      opacity: 0.3;
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      top: 28px;
      left: 49.8%;
    }
  }

  &::after {
    @media (min-width: $desktop-width) {
      top: 28px;
      left: 50.3%;
    }
  }
}

.page-header__logo {
  margin: 0 auto;

  & img {
    vertical-align: middle;
  }

  @media (min-width: $desktop-width) {
    width: 302px;
    height: auto;
  }
}
