.page {
  height: 100%;
  font-family: $poppins;
  font-size: 14px;
  line-height: 22px;
  color: $basic_red-gray;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
}

.page__main {
  @media (min-width: $desktop-width) {
    border-top: 1px solid $border_page;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      width: 1px;
      min-height: 4922px;
      background-color: $basic_black;
      box-shadow: -246px 0 0 0 $basic_black, -492px 0 0 0 $basic_black, 246px 0 0 0 $basic_black, 492px 0 0 0 $basic_black;
      z-index: 3;
      opacity: 0.07;
    }
  }
}
