.title {
  font-family: $playfair_display;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 38px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 102px;
    line-height: 110px;
  }
}
