.toggle {
  display: block;
  width: 24px;
  height: 18px;
  padding: 0;
  position: relative;
  border: 0;
  background-color: inherit;
  z-index: 2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.toggle::after,
.toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic_black;
  box-shadow: none;
  transition: bottom 600ms 600ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle::before {
  transform: rotate(45deg);
}

.toggle::after {
  transform: rotate(-45deg);
}

.toggle--closed {
  width: 24px;
  height: 16px;
}

.toggle--closed {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic_black;
    box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
    transform: none;
  }
}

.toggle--closed {
  &::after {
    transform: none;
  }
}
