// Colors
$basic_black: #23242c;
$basic_white: #ffffff;
$special_white: #fAf7f3;
$basic_pink-gray: #9d8888;
$basic_red-gray: #967675;
$special_pink: #fdf3ef;
$border_orange: #edd5c8;
$border_gray: #23242c;
$quote: #964f4c;

// Viewports
$desktop-width: 1440px;

// Fonts
$playfair_display: "Playfair Display", "Nimbus Roman No9 L", "Times CY", "Times New Roman", serif;
$poppins: "Poppins", "DejaVu Sans", "Geneva", "Verdana", sans-serif;
